/*フォント管理*/

@font-face {
    font-family: 'FuturaMed';
    src: url('../fonts/Futura-Med.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaBoo';
    src: url('../fonts/Futura-Boo.ttf') format('truetype');
}

body {
    margin: 0;
}


.logoContainer {
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

nav {
    overflow: hidden;
    margin-right: 30px;
    position: relative;
    top: 20px;
    right: 0;
}

.logoContainer ul {
    list-style: none;
}

.logoContainer li {
    font-size: 30px;
    color: #ffffff;
    font-family: 'FuturaMed';
    text-decoration: none;
    float: right;
    padding-right: 30px;
}

.logoContainer a {
    text-decoration: none;
    color: #ffffff;
}

.logoContainer a:hover {
    color: #3D5CDB;
    transition: 0.5s;
}

.logo {
    position: relative;
    background-size: 100%;
    text-align: center;
    max-width: 910px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);

}

.logo img {
    background-repeat: none;
    background-size: 100%;
    width: 100%;
}

.logo p {
    font-family: 'FuturaMed';
    font-size: 50px;
    color: #ffffff;
}

/*各項目のタイトル*/
.title {
    font-family: 'FuturaBoo';
    text-align: center;
    font-size: 60px;
    color: #3D5CDB;
}

.section {
    max-width: 1040px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.fuwat {
    margin: 0 auto 70px auto;
}


/*ここからしたにintroduction*/
#introduction-Title {
    font-family: 'FuturaBoo';
    font-size: 65px;
}

.introduction-text {
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
    line-height: 32px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
}

.button1 {
    width: 170px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
}


#button-blue {
    background-color: #3D5CDB;
}

#button-blue:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

#button-yellow:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}


#button-yellow {
    background-color: #FFBF00;
}


/*ここにボタンの話*/
.buttonlink {
    text-decoration: none;
    color: #ffffff;
}

.introduction-text1 {
    margin-left: 90px;
    margin-bottom: 38px;
    float: left;
    max-width: 400px;
}

.introduction-first {
    /*    margin-bottom: 30px;*/
    overflow: hidden;
    margin-bottom: 90px;
    width: auto;
}

.introduction-first img {
    max-width: 500px;
    float: left;
}

.introduction-second {
    overflow: hidden;
}

/*introduction ２個目のコンテンツ*/

.introduction-text2 {
    margin-right: 90px;
    float: right;
    max-width: 400px;
}

.introduction-second img {
    max-width: 500px;
    float: right;
}

/*
.courses {
    z-index: 1;
    position: absolute;
    width: 1040px;
}
*/

/*ここからしたにcourses*/
.courses {
    overflow: hidden;
    position: relative;
}

#title-courses {
    max-width: 1040px;
    text-align: center;
    /*    改善ポイント*/
    margin: 0 auto;
    height: 173px;
}

.courses-collection {
    max-width: 1040px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses-item {
    border-radius: 12px;
    width: 240px;
    height: 340px;
    background-color: #fff;
    margin: 15px 10px;
    text-align: center;
    overflow: hidden;

}

.courses-item img {
    margin: 30px 0;
    height: 130px;
    text-align: center;
}

.courses-item p {
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
    color: #333333;
}

/*この下が背景の星座*/

#hoge {
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #BAD5F5;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    top: 0;
    left: 0;
}

/*ボタン*/

.button {
    width: 170px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    border-radius: 12px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
    margin-bottom: 45px;
    align-items: flex-end;
}

.button:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}


#button-html {
    background-color: #e16e3b;
    color: #fff;
}

#button-css {
    background-color: #52a7da;
    color: #fff;
}

#button-unity {
    background-color: #333;
    color: #fff;
}

#button-ruby {
    background-color: #ed5f59;
    color: #fff;
}

#button-js {
    background-color: #f9d748;
    color: #fff;
}

#button-swift {
    background-color: #ee7d47;
    color: #fff;
}

#button-go {
    background-color: #89ccdb;
    color: #fff;
}



/*images*/
.images {

    margin: 0 auto;

}

.images-slide {
    max-width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 80px;
}

/*地図の埋め込み。*/

.map {
    max-width: 600pxf;
}


/*フッターの追加設定*/
#footer {
    font-size: 18px;
    line-height: 60px;
}


/*フワッと*/

.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}



/*introduction スマホ版*/

@media screen and (max-width : 480px) {
    .logoContainer {
        width: 100%;
    }

    nav {
        display: none;
    }

    .logo {
        max-width: 350px;
    }

    .logo p {
        font-size: 20px;
    }

    .introduction-first img {
        float: none;
        margin: 10px;
        max-width: 380px;

    }

    .introduction-second img {
        float: none;
        margin: 10px;
        max-width: 380px;
    }

    .introduction-text1 {
        float: none;
        max-width: 450px;
        text-align: center;
        margin: 20px;
    }

    .introduction-text2 {
        float: none;
        max-width: 450px;
        text-align: center;
        margin: 20px;
    }

    .introduction-text {
        line-height: 24px;
        font-size: 12px;
        margin: 0 0 20px 0;
    }

    .introduction-first {
        margin: 0 auto;
    }

    .introduction-second {
        margin: 0 auto;
    }

    #introduction-Title {
        font-size: 40px;
    }

    .courses-item {
        max-width: 180px;
        max-height: 280px;
    }
    
    .courses-item img {
        height: 90px;
    }
    .button {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    border-radius: 20px;
    font-size: 7px;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;
    margin-bottom: 45px;
    align-items: flex-end;
}
}